
* {
	margin: 0px;
	padding: 0px;
}

body {
	text-align: center;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color: #171717;
	font-size: 16px;
	line-height: 1.5em;
	background-image:url("../images/webpage-background.jpg");
	background-repeat: repeat-x;
}

#container {
	max-width: 800px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	background-image:url("../images/webpage-background.jpg");
	background-color: #FFF;
	margin-top: 20px;
	border: 1px solid #CCC;
	color: #FFF;
}

#header h1 {
    position: relative;
    width: 800px;
    height: 140px;
    margin: 0 auto;
}

#header h1 a {
    color: white;
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: url("../images/webpage-header.jpg");
    background-size: cover;
    background-position: center;
}

#nav {
	background-color: #000;
}

#nav ul {
	list-style-type: none;
	margin-left: 10px;
}

#nav ul li {
	display: inline;
	height: 35px;
	line-height: 35px;
}

#nav ul li a {
	display: inline-block;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 18px;
}

#nav ul li a:link, #nav ul li a:visited {
	text-decoration: none;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: #000;
	color: #FFF;
}

#nav ul li a:hover {
	color: darkblue;
	background-color: lightgray;
	border-radius: 3px;
}

#content {
	margin: 20px;
}

#content h2 {
	font-size: 28px;
	margin: 20 0 10px 0;
	color: #ffffff;
	border-bottom: 2px solid #4da3ff;
	padding-bottom: 5px;
}

#content h3 {
	font-size: 22px;
	margin: 18px 0 8px 0;
	color: #cde6ff;
}

#content h4 {
	font-size: 18px;
	margin: 15px 0 5px 0;
	font-weight: bold;
	color: #a7c8ff;
}

#content p {
	margin-top: 5px;
	margin-bottom: 15px;
	overflow:hidden;
}

#content img {
	float: right;
	border: 1px solid #c0c0c0;
	padding: 5px;
}

p.alert {
    background: rgb(59, 139, 243);
    color: darkblue;
    border: 1px solid #c0c0c0;
    margin: 0 0 10px 0;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    clear: both;
}

.fav-link, .top {
    color: #4da3ff; 
    font-weight: bold; 
    text-decoration: underline;
}

.fav-link:hover {
    background-color: #003366; 
    color: lightgray;
    padding: 2px 4px;
    border-radius: 3px;
}

#footer {
	background-color: #000;
	color: #FFF;
	height: 25px;
}

#footer h6 {
	font-size: 12px;
	line-height: 25px;
	margin-right: 20px;
	margin-left: 20px;
}

