html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }


/* ------ Typography -------*/
body {
  .libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}


  /* ------ Fluid Images ------- */
img {
  max-inline-size: 100%;
  block-size: auto;
}
}

#container {
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	background-color: lightgray;
	margin-top: 10px;
	border: 2px solid #1a1919;
}

/* set background image for header */
h1 {
  color: whitesmoke;
  text-shadow: 3px 3px #000000;
  font-size: 50px;
  background-image: url('../images/virtualData.jpg');
  background-size: cover;
  background-position: center;  
  background-repeat: no-repeat;  
  padding: 120px;  /* Adds space around text */  
}

h2 {
  color: black;
  text-align: left;
}

